*.a
*.dSYM
*.db
*.dot
*.dylib
*.gch
*.o
*.s
*.so
.DS_Store
.cache
.env
.gdb_history
.idea
a.out
build
compile.sh
compile_commands.json
debug-assembly
hcc
sagaris
scratch
test-runner
test_aarch64
test_jit
test_x86_64
unit_tests
watch
